/* common shared styles */

body{
    font-family: 'Merriweather', serif;
}

/* header related styles */

.header{
    background:linear-gradient(#070211, #07021100), url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;   
    margin: 50px 140px 100px 140px;
    border-radius: 16px;

}
.intro{
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    padding-top: 177px;
    margin-bottom: 0;
}
.title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    margin-top: 0;
    padding-top: 16px;
    padding-bottom: 177px; 
}

/* 1st section styles */

.off-section{
    text-align: center;
    margin: 0px 140px 100px 140px;
}
.off{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}
.off-description{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.catagories{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
}

/* 2nd section styles */

.welcome-section{
    background:linear-gradient(to right,#060606, #00000000), url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: top center;    
    background-size: cover;
    margin: 0px 140px 100px 140px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.welcome-content{
    padding-left: 126px;
}
.welcome-party-title{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-top: 126px;
    margin-bottom: 24px;
}
.wel-description{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    max-width: 695px;
}
.wel-btn{
    background-color: #000;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    border: none;
    margin-left: 32px;
    margin-bottom: 142px;
}
.wel-btn:hover{
    background-color: #fff;
    color: #000;
}
.img-2024{
    padding-right: 110px;
    max-height: 450px;
}

/* Venue Section Styles */

.venue{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);  
    margin: 0px 140px 100px 140px;
    border-radius: 16px;
    text-align: center;
}
.venue-content{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    padding-top: 100px;
    margin-top: 0px;
}

.red-venue-title{
    color: #F00;
}

.venue-btn{
    display: inline-flex;
    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    border: none;
}
.venue-btn:hover{
    background: #fff;
    color: #f00;
    border: #F00 1px solid;
}

/* coming soon section */

.coming-soon-section{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin: 0px 140px 100px 140px;

}
.coming-content{
    align-items: left;
    max-width: 390px;
}
.best-offer{
    color: #F00;
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px;
}
.coming-title{
    color: #070211;
    text-align: left;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
    margin-bottom: 22px;
}
.coming-descrip{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    min-width: 350px;
}
.coming-img-sec{
    border: #F00 15px solid;
    border-radius: 463px;
    padding: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
.coming-content-right{
    align-items: right;
    max-width: 290px;
}

.year-2024{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    padding-top: 80px;
    margin-bottom: 0px;

}
.coming-descrip-2{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.HNY-img{
    max-width: 140px;
    max-width: 140px;
    margin-top: 30px;
}

/* products portfolio section  */

.product-portfolio-sec{
    margin: 0px 140px 100px 140px;
}
.product-sec-contents{
    align-items: left;
}
.product-sec-intro{
    color: #F00;
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px;
}
.product-sec-title{
color: #070211;
text-align: left;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
margin-top: 16px;
margin-bottom: 22px;
}

.product-sec-descrip{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    min-width: 350px;
}

.product-row{
    display: inline-flex;

}

.product-item{
flex: 33.33%;
padding-right: 24px;
padding-bottom: 24px;
}
.product-item:hover{
    opacity: 0.5;
}

/* Newsletter section styles */
.newsletter{
    background: rgba(255, 0, 0, 0.05);
    margin: 0px 140px 100px 140px;
    border-radius: 16px;
    text-align: center;
}
.newsletter-img{
    padding-top: 80px;
}
.subscribe-news{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 0px;
}

.newsletter-descrip{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding: 20px 200px 40px 200px;
    margin-top: 0px;
}
.email-field{
    margin-bottom: 80px;
}
.email-field, input button{
    align-items: center;
    display: inline-flex;
    width: 648px;
    height: 72px;
    border-radius: 50px;
    background: #FFF;
}
.email-field> input{
    padding: 25px 250px 25px 30px;
    border-radius: 50px 0px 0px 50px;;
    border: none;
}
.newsletter> .email-field>button{
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    border: none;
}
.newsletter> .email-field>button:hover{
    border: #F00 1px solid;
    background: #fdfdfd;
    color: #F00;
}

/* footer styles */
.footer{
    background: #070211;
    display: block;
}

.address-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.address{
    padding-top: 120px;
    padding-left: 140px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.website-number{
    display: flex;
    align-items: center;
    padding-top: 120px;
    padding-right: 140px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.website{
    color: #FFF;
    text-decoration: none;

}
hr{
    background: rgba(255, 255, 255, 0.15);
}
.social-icon {
    text-align: center;
    padding-top: 48px;
    padding-bottom: 48px;
    justify-content: space-between;

}
.social-icon a{
    padding-right: 24px;
    margin: 0px;
}

.rights{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rights-res{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-left: 140px;
    padding-bottom: 120px;
}
.unsubscribe-btn{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-right: 140px;
    padding-bottom: 120px;
}